<div>
  <button style="float: right;" nz-button (click)="handleClickAdd()">{{'ADD' | translate}}</button>
  <h2>{{'MANUFACTURE.MANUFACTURE_LIST' | translate}}</h2>
  <app-table-manufacture
    (handleClick)="handleClickRow($event)"
    (handleClickEdit)="handleClickRowEdit($event)"
    [isEditable]="true"
  ></app-table-manufacture>
</div>
