<button style="float: right;" nz-button (click)="handleClickAdd()">{{'ADD' | translate}}</button>

<h2>{{'ELEMENT.ELEMENT_LIST' | translate}}</h2>


<app-table-element
  [rows]="rows"
  [listOfData]="listOfData"
  [isLoading]="isLoading"
  [isEditable]="true"
  (handleClickEdit)="handleClickEdit($event)"
  (handleClick)="handleRowClick($event)"
>

</app-table-element>
