<a [routerLink]="backLink">{{'BACK' | translate}}</a>

<nz-spin *ngIf="isLoading"></nz-spin>

<form class="form-edit" *ngIf="!isLoading">
  <div *ngIf="hose" class="form-edit-content">
    <label *ngIf="idHose">
      <div>id</div>
      <input nz-input class="field" type="text" [value]="hose.id" disabled name="id"> </label>
    <label>
      <div>{{'HOSE.IDMACHINERY' | translate}}</div>
      <input nz-input class="field" type="text" [value]="hose.idMachinery" name="idMachinery" disabled> </label>
    <label>
      <div>{{'HOSE.IDMACHINERYGROUP' | translate}}</div>
      <input nz-input class="field" type="text" [value]="hose.idMachinerygroup" name="idMachineryGroup" disabled>
    </label>
    <label>
      <div>{{'HOSE.ARTICLE' | translate}}</div>
      <input nz-input class="field" type="text" [(ngModel)]="hose.Article" name="Article"> </label>
    <label>
      <div>{{'HOSE.Length' | translate}}</div>
      <input nz-input class="field" type="text" [(ngModel)]="hose.Length" name="Length"> </label>
    <label>
      <div>{{'HOSE.IntervalView' | translate}}</div>
      <input nz-input class="field" type="text" [(ngModel)]="hose.IntervalView" name="IntervalView"> </label>
    <label>
      <div>{{'HOSE.IntervalReplace' | translate}}</div>
      <input nz-input class="field" type="text" [(ngModel)]="hose.IntervalReplace" name="IntervalReplace"> </label>
    <label>
      <div>{{'HOSE.Position' | translate}}</div>
      <input nz-input class="field" type="text" [(ngModel)]="hose.Position" name="Position"> </label>
    <label>
      <div>{{'HOSE.Pressure' | translate}}</div>
      <input nz-input class="field" type="text" [(ngModel)]="hose.Pressure" name="Pressure"> </label>
    <label>
      <div>{{'HOSE.IdNumber' | translate}}</div>
      <input nz-input class="field" type="text" [(ngModel)]="hose.IdNumber" name="IdNumber"> </label>
    <label>
      <div>{{'HOSE.IdPress' | translate}}</div>
      <input nz-input class="field" type="text" [(ngModel)]="hose.IdPress" name="IdPress"> </label>
    <label>
      <div>{{'HOSE.InstrNo' | translate}}</div>
      <input nz-input class="field" type="text" [(ngModel)]="hose.InstrNo" name="InstrNo"> </label>
    <label>
      <div>{{'HOSE.InstallationLocation' | translate}}</div>
      <input nz-input class="field" type="text" [(ngModel)]="hose.InstallationLocation" name="InstallationLocation"> </label>
    <label>
      <div>{{'HOSE.TYPE' | translate}}</div>
      <nz-select [(ngModel)]="hose.idType" class="field" name="idType">
        <nz-option *ngFor="let item of dataTypes" [nzValue]="item.id"
                   [nzLabel]="item.Title"> {{item.Title}} </nz-option>
      </nz-select>
    </label>
    <label>
      <div>{{'HOSE.DN' | translate}}</div>
      <nz-select [(ngModel)]="hose.idDn" class="field" name="idDn">
        <nz-option *ngFor="let item of dataDn" [nzValue]="item.id" [nzLabel]="item.Title"> {{item.Title}} </nz-option>
      </nz-select>
    </label>
    <div class="two-columns">
      <label>
        <div>{{'HOSE.LARM' | translate}}</div>
        <nz-select [(ngModel)]="hose.idLArm" class="field" name="idLArm">
          <nz-option *ngFor="let item of dataMounting" [nzValue]="item.id"
                     [nzLabel]="item.Title"> {{item.Title}} </nz-option>
        </nz-select>
      </label>
      <label>
        <div>{{'HOSE.LROHRANSCHLUB' | translate}}</div>
        <nz-select [(ngModel)]="hose.idLRohrAnschlub" class="field" name="idLRohrAnschlub">
          <nz-option *ngFor="let item of dataPipeConnection" [nzValue]="item.id"
                     [nzLabel]="item.Title"> {{item.Title}} </nz-option>
        </nz-select>
      </label>
    </div>
    <div class="two-columns">
      <label>
        <div>{{'HOSE.RARM' | translate}}</div>
        <nz-select [(ngModel)]="hose.idRArm" class="field" name="idRArm">
          <nz-option *ngFor="let item of dataMounting" [nzValue]="item.id"
                     [nzLabel]="item.Title"> {{item.Title}} </nz-option>
        </nz-select>
      </label>
      <label>
        <div>{{'HOSE.RROHRANSCHLUB' | translate}}</div>
        <nz-select [(ngModel)]="hose.idRRohrAnschlub" class="field" name="idRRohrAnschlub">
          <nz-option *ngFor="let item of dataPipeConnection" [nzValue]="item.id"
                     [nzLabel]="item.Title"> {{item.Title}} </nz-option>
        </nz-select>
      </label>
    </div>
    <div class="two-columns">
      <label>
        <div>{{'HOSE.VD' | translate}}</div>
        <nz-select [(ngModel)]="hose.idVd" class="field" name="idVd">
          <nz-option *ngFor="let item of dataVd" [nzValue]="item.id" [nzLabel]="item.Title"></nz-option>
        </nz-select>
      </label>
      <label>
        <div>{{'HOSE.LEVELDANGER' | translate}}</div>
        <nz-select [(ngModel)]="hose.idLevelDanger" class="field" name="idLevelDanger">
          <nz-option *ngFor="let item of dataLevelDanger" [nzValue]="item.id" [nzLabel]="item.Title"></nz-option>
        </nz-select>
      </label>
    </div>
    <label>
      <div>{{'HOSE.NOTICE' | translate}}</div>
      <input nz-input class="field" type="text" [(ngModel)]="hose.Notice" name="Notice"/>
    </label>
    <label>
      <div>{{'HOSE.STATUS' | translate}}</div>
      <input class="field" nz-input type="text" [(ngModel)]="hose.Status" name="Status"> </label>
    <div class="two-columns">
      <label>
        <div>{{'HOSE.DATEMANUFACTURING' | translate}}</div>
        <input class="field" nz-input type="date" [(ngModel)]="hose.DateManufacturing" name="DateManufacturing">
      </label>
      <label>
        <div>{{'HOSE.DATENEXTTEST' | translate}}</div>
        <input class="field" nz-input type="date" [(ngModel)]="hose.DateNextTest" name="DateNextTest"> </label>
    </div>
    <label *ngIf="hose.id">
      <input type="hidden" name="sert_path" [value]="'sert_path'">
      <div>{{'HOSE.SERT_FILE' | translate}}</div>
      <input *ngIf="!hose.Certificatepath" nz-input class="field field-file" type="file" [value]="hose.DateNextTest"
             name="fname" (change)="handleUploadFile($event)">
      <a class="field field-file" nz-button *ngIf="hose.Certificatepath" [href]=" filesUrl +  hose.Certificatepath"
         target="_blank">{{'DOWNLOAD' | translate}}</a>
      <button nz-button nzType="dashed" (click)="handleRemoveFile()">{{'DELETE' | translate}}</button>
    </label>
  </div>
  <div class="btns">
    <button *ngIf="idHose" type="submit" nz-button nzType="dashed" (click)="handleRemove()"
            name="remove">{{'DELETE' | translate}}
    </button>
    <button *ngIf="idHose" type="submit" nz-button nzType="primary"
            (click)="handleSave()">{{'SAVE' | translate}}</button>
    <button *ngIf="!idHose" type="submit" nz-button nzType="primary" (click)="handleCreate()" [ngClass]="'btn-create'">
      {{'CREATE' | translate}}
    </button>
  </div>
</form>
