<a [routerLink]="backLink">{{'BACK' | translate}}</a>

<nz-spin *ngIf="isLoading"></nz-spin>

<form class="form-edit" *ngIf="!isLoading">
  <div class="form-edit-content">
    <label *ngIf="item.id">
      <div>{{'id' | translate}}</div>
      <input nz-input class="field" type="text" [value]="item.id" disabled name="id"> </label>
    <label>
      <div>{{'Title' | translate}}</div>
      <input nz-input class="field" type="text" [(ngModel)]="item.Title" name="Title"> </label>
    <label>
      <div>{{'Address' | translate}}</div>
      <input nz-input class="field" type="text" [(ngModel)]="item.Address" name="Address"> </label>
  </div>
  <div class="btns">
    <button *ngIf="idMachinerygroup" type="submit" nz-button nzType="dashed" (click)="handleRemove()" name="remove">{{'DELETE' | translate}}
    </button>
    <button *ngIf="idMachinerygroup" type="submit" nz-button nzType="primary" (click)="handleSave()">{{'SAVE' | translate}}</button>
    <button *ngIf="!idMachinerygroup" type="submit" nz-button nzType="primary" (click)="handleCreate()" [ngClass]="'btn-create'">
      {{'CREATE' | translate}}
    </button>
  </div>
</form>
