<div class="header-btns">
  <a [routerLink]="backLink">{{'BACK' | translate}}</a>
  <a [routerLink]="editLink">{{'EDIT' | translate}}</a>
</div>

<ul>
  <li *ngFor="let listItem of listValues"><b> {{listItem?.title | translate}} </b> <span>{{ listItem.value }}</span></li>
</ul>

<p *ngIf="item.DateLastTest">{{'DateLastTest' | translate}}: {{DateLastTest}}</p>
<p *ngIf="item.DateNextTest">{{'DateNextTest' | translate}}: {{DateNextTest}}</p>
<p *ngIf="item.DateLastReplace">{{'DateLastReplace' | translate}}: {{DateLastReplace}}</p>
<p *ngIf="item.DateNextReplace">{{'DateNextReplace' | translate}}: {{DateNextReplace}}</p>

<div *ngIf="item.id" class="sert">
  <input type="hidden" name="sert_path" [value]="'sert_path'">
  <div>{{'HOSE.SERT_FILE' | translate}}</div>
  <input *ngIf="!item.Certificatepath" nz-input class="field field-file" type="file" [value]="item.Certificatepath"
         name="fname" (change)="handleUploadFile($event)">
  <a class="field field-file" nz-button *ngIf="item.Certificatepath" [href]=" filesUrl +  item.Certificatepath"
     target="_blank">{{'DOWNLOAD' | translate}}</a>
  <button  *ngIf="item.Certificatepath" nz-button nzType="dashed" (click)="handleRemoveFile()">{{'DELETE' | translate}}</button>
</div>

<h3>{{'CHECKS_PERFORMED' | translate}} <button nz-button (click)="handleAddTest()">{{'ADD' | translate}}</button></h3>
<app-table-element-tests
  [rows]="item?.Tests"
  [listOfData]="itemsTests"
  [isEditable]="false"
  [isLoading]="isLoading"
>

</app-table-element-tests>

<span *ngIf="item?.idType == 1">
<h3>{{'SUBSTITUTIONS_PERFORMED' | translate}}  <button nz-button (click)="handleAddReplace()">{{'ADD' | translate}}</button></h3>
<app-table-element-replaces
  [rows]="item.Replaces"
  [listOfData]="itemsReplaces"
  [isEditable]="false"
  [isLoading]="isLoading"
>

</app-table-element-replaces>
</span>

