.header-btns {
  display: flex;
  justify-content: space-between;
 }

h3 {
  display: flex;
  justify-content: space-between;
}

.sert {
  padding-bottom: 2rem;

  input[type=file] {
    width: 300px;
  }
}
