<button style="float: right;" nz-button (click)="handleClickAdd()">{{'ADD' | translate}}</button>

<h2>{{'MACHINERYGROUP.MACHINERYGROUP_LIST' | translate}}</h2>

<app-table-machinery-group
  [isEditable]="true"
  [idManufacture]="idManufacture"
  (handleClickEdit)="handleClickEdit($event)"
  (handleClick)="handleRowClick($event)"
>

</app-table-machinery-group>
