<div>
  <button style="float: right;" nz-button (click)="handleClickAdd()">{{'ADD' | translate}}</button>
  <h2>{{'MACHINERY.MACHINERY_LIST' | translate}}</h2>
  <app-table-machinery
    *ngIf="idMachinerygroup"
    [isEditable]="true"
    [idMachinerygroup]="idMachinerygroup"
    (handleClick)="handleClickRow($event)"
    (handleClickEdit)="handleClickRowEdit($event)"
  ></app-table-machinery>
</div>
