<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null"
            *ngIf="userService.isLogged$ | async"
  >
    <div class="sidebar-logo">
      <a target="_blank">
        <img [src]="'./assets/' + logo" alt="logo">
        <h1>{{ 'LOGO' | translate }}</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nzMatchRouter *ngIf="user?.isAdmin">
        <a routerLink="/manufacture">{{ 'MENU.MANUFACTURE' | translate }}</a>
      </li>
      <li nz-menu-item nzMatchRouter *ngIf="user">
        <a routerLink="/todos">{{ 'MENU.TODOS' | translate }}</a>
      </li>
      <li nz-menu-item nzMatchRouter *ngIf="user?.isAdmin">
        <a routerLink="/dashboard">{{ 'MENU.DASHBOARD' | translate }}</a>
      </li>
      <li nz-submenu *ngIf="isShowLocalePanel" nzOpen [nzTitle]="'MENU.LOCALES' | translate" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/locales">{{ 'MENU.LOCALES' | translate }}</a>
          </li>
        </ul>
      </li>
      <!--<li nz-submenu nzOpen [nzTitle]="'MENU.HOSE_DATES' | translate" nzIcon="form" *ngIf="user?.isAdmin">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/hose-dates/DataHosesType">{{ 'MENU.DataHosesType' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/hose-dates/DataHosesVD">{{ 'MENU.DataHosesVD' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/hose-dates/DataHosesPipeConnection">{{ 'MENU.DataHosesPipeConnection' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/hose-dates/DataHosesMounting">{{ 'MENU.DataHosesMounting' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/hose-dates/DataHosesLevelDanger">{{ 'MENU.DataHosesLevelDanger' | translate }}</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/hose-dates/DataHosesDn">{{ 'MENU.DataHosesDn' | translate }}</a>
          </li>
        </ul>
      </li>-->
      <li nz-menu-item nzMatchRouter *ngIf="user">
        <a (click)="logout()">{{ 'MENU.LOGOUT' | translate }}</a>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>





