.form-edit {
  max-height: 100%;
  overflow: auto;

  .form-edit-content {
    display: flex;
    flex-direction: column;

    .two-columns {
      display: flex;
      label {
        width: 50%;
      }
    }

    label {
      margin: 5px;
      padding: 5px;

      display: flex;

      div {
        width: 200px;
      }

      .field, span {
        width: auto;
        flex-grow: 2;
        min-width: 150px;

        &.field-file {
          width: auto;
        }
      }
    }

  }

  .btns {
    display: flex;
    justify-content: space-between;
    padding: 1rem 10px;

    button {
      width: 300px;
    }

    .btn-create {
      margin-left: auto;
    }
  }

}
