
[nz-button] {
  margin-right: 8px;
}

.selectTest {
  background-color: rgb(255, 255, 100);
}

.selectReplace {
  background-color: rgb(255, 100, 100);
}

@import "../../../assets/table-editable";

nz-table th {
  font-size: 10px !important;
}
