<nz-spin *ngIf="isLoading"></nz-spin>

<nz-table
  #sortTable
  [nzData]="listOfData"
  nzTableLayout="fixed"
  nzPageSize="100" *ngIf="!isLoading"
>
  <thead>
  <tr>
    <th
      *ngFor="let column of listOfColumn"
      [nzSortFn]="column.compare"
        [nzSortPriority]="column.priority"
      [nzWidth]="column.width"
    >{{ column.key | translate }}</th>
    <th nzWidth="120px" *ngIf="isEditable">{{'ACTION' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of sortTable.data"
      [ngClass]="{
        editable: data.isEdit,
        selectTest:  data.selectTest,
        selectReplace: data.selectReplace
      }"
  >
    <td
      *ngFor="let column of listOfColumn"
      [ngClass]="{editable: data.isEdit && column.isEditable}"
      (click)="_handleClick(data)"
    >
      <span *ngIf="!(data.isEdit && column.isEditable); else field_edit">

        <span [ngSwitch]="column.format">
          <span *ngSwitchCase="'image'">
            <img *ngIf="column.toString(data.data[column.key])"
                 [src]="filesUrl + column.toString(data.data[column.key])"/>
          </span>
          <span *ngSwitchCase="'file'">
            <a *ngIf="column.toString(data.data[column.key])" [href]="filesUrl + column.toString(data.data[column.key])"
               target="_blank">Скачать</a>
          </span>
          <span *ngSwitchDefault>{{ column.toString(data.data[column.key]) }}</span>
        </span>
      </span>
      <ng-template #field_edit>
        <div [ngSwitch]="column.format">
          <span *ngSwitchCase="'date'">
            <nz-date-picker [(ngModel)]="data.data[column.key]"></nz-date-picker>
          </span>
          <span *ngSwitchCase="'number'">
            <input [(ngModel)]="data.data[column.key]" type="number"/>
          </span>
          <span *ngSwitchDefault><input [(ngModel)]="data.data[column.key]"/></span>
        </div>
      </ng-template>
    </td>
    <td *ngIf="isEditable" class="btns-action">
      <button *ngIf="!data.isEdit; else btnsEdit" nz-button (click)="_handleClickEdit(data)"><i nz-icon nzType="edit"
                                                                                                nzTheme="outline"></i>
      </button>
      <ng-template #btnsEdit>
        <button nz-button (click)="handleSave(data)"><i nz-icon nzType="save" nzTheme="outline"></i></button>
        <button nz-button (click)="handleDelete(data)"><i nz-icon nzType="delete" nzTheme="outline"></i></button>
      </ng-template>
    </td>
  </tr>
  </tbody>
</nz-table>

