<form class="form-edit">
  <div class="form-edit-content">
    <label>
      <div>{{'Hose' | translate}}</div>
      <input nz-input class="field" type="text" [value]="idHose" disabled name="id"> </label>
    <label>
      <div>{{'Status' | translate}}</div>
      <input nz-input class="field" type="number" [(ngModel)]="Status" name="Status"> </label>
    <label>
      <div>{{'Notice' | translate}}</div>
      <input nz-input class="field" type="text" [(ngModel)]="Notice" name="Notice"> </label>
    <label>
      <div>{{'DateNextTest' | translate}}</div>
      <input nz-input class="field" type="date" [(ngModel)]="DateNextTest" name="DateNextTest"> </label>
  </div>
  <div class="btns">
    <button type="submit" nz-button nzType="primary" (click)="handleCreate()" [ngClass]="'btn-create'"
            [disabled]="!isCanCreate">
      {{'CREATE' | translate}}
    </button>
  </div>
</form>
