<div class="header-btns">
  <a [routerLink]="backLink">{{'BACK' | translate}}</a>

  <button nz-button (click)="item.idType = 1"> {{'ELEMENT.HOSE' | translate}}</button>
  <button nz-button (click)="item.idType = 2"> {{'ELEMENT.TANK' | translate}}</button>
</div>


<app-base-form-edit
  *ngIf="item.idType === 1"
  [columns]="columnsHoses"
  [isLoading]="isLoading"
  [item]="values"
  (onSave)="handleSave($event)"
  (onCreate)="handleCreate($event)"
  (onRemove)="handleRemove($event)"
  [selects]="selects"
></app-base-form-edit>
<app-base-form-edit
  *ngIf="item.idType === 2"
  [columns]="columnsTanks"
  [isLoading]="isLoading"
  [item]="values"
  (onSave)="handleSave($event)"
  (onCreate)="handleCreate($event)"
  (onRemove)="handleRemove($event)"
  [selects]="selects"
></app-base-form-edit>
