tr {
  td {
    padding: .1rem .5rem;
    font-size: 12px;

    img {
      width: 50px;
    }
  }

  &.editable {

    td {
      padding: 0 .5rem;
    }

    .editable {
      padding: 0;

      input, [nz-date-picker] {
        height: 39px;
        width: 100%;
        padding: 0 0.5rem;

        border: 1px dashed #cccccc !important;

        &:focus {
          border: 1px solid #cccccc !important;
          outline: none;
        }
      }
    }
  }
}
