<!--
<app-table-machinery
  [isEditable]="false"
  [idMachinerygroup]="idManufacture$ | async"
>
</app-table-machinery>
-->

<div class="filters">

  <!-- <nz-tree-select
     [(ngModel)]="value"
     [nzNodes]="hierarchyNodes"
     (ngModelChange)="onChangeHierarchy($event)"
     nzShowSearch
     nzCheckable
     nzPlaceHolder="Please select"
   >
   </nz-tree-select>-->

  <nz-tree-select
    [ngModel]="idsManufacture$ | async"
    (ngModelChange)="setManufactureId($event)"

    [nzNodes]="hierarchyManufacture"
    nzShowSearch
    nzCheckable
    nzPlaceHolder="Please select"
  >
  </nz-tree-select>
  <nz-tree-select
    [ngModel]="idsMachinerygroup$ | async"
    (ngModelChange)="setMachinerygroupId($event)"
    [nzAllowClear]="true"

    [nzNodes]="hierarchyMachinerygroup"
    nzShowSearch
    nzCheckable
    nzPlaceHolder="Please select"
  >
    <nz-option *ngFor="let item of machineryGroup" [nzLabel]="item.Title" [nzValue]="item.id"></nz-option>
  </nz-tree-select>
  <nz-tree-select
    [ngModel]="idsMachinery$ | async"
    (ngModelChange)="setMachineryId($event)"
    [nzAllowClear]="true"

    [nzNodes]="hierarchyMachinery"
    nzShowSearch
    nzCheckable
    [nzPlaceHolder]="machinerySelectPlaceholder"
    [nzDisabled]="machinerySelectDisabled"
  >
    <nz-option *ngFor="let item of machinery" [nzLabel]="item.Title" [nzValue]="item.id"></nz-option>
  </nz-tree-select>
  <input type="text" class="search" nz-input placeholder="Search" [ngModel]="searchText$ | async"
         (ngModelChange)="searchText$.next($event)">
  <button nz-button (click)="pdf()">Export PDF</button>
</div>
<div class="filters">
  <!--<nz-range-picker class="field" nzFormat="dd.MM.yyyy" [nzPlaceHolder]="['DATE_TEST_START' | translate, 'DATE_TEST_END' | translate]"></nz-range-picker>-->
  <!--<nz-range-picker class="field" nzFormat="dd.MM.yyyy" [nzPlaceHolder]="['DATE_REPLACE_START' | translate, 'DATE_REPLACE_END' | translate]"></nz-range-picker>-->

  <nz-tree-select
    [(ngModel)]="valueSelectByTime"
    [nzNodes]="SelectByTimeNodes"
    (ngModelChange)="onChangeSelectByTime($event)"
    nzShowSearch
    nzCheckable
    nzPlaceHolder="Bitte nach Zeit auswählen"
  >
  </nz-tree-select>

  <nz-tree-select
    [(ngModel)]="valueSelectByType"
    [nzNodes]="SelectByTypeNodes"
    (ngModelChange)="onChangeSelectByType($event)"
    nzShowSearch
    nzCheckable
    nzPlaceHolder="Bitte wählen Sie einen Hochdruck-Speicher"
  >
  </nz-tree-select>


</div>

<app-table-element
  *ngIf="isSelectIds$ | async"
  id="my-table"
  [isEditable]="false"
  [rows]="allElements"
  [listOfData]="elementsFiltered"
  (handleClick)="handleRowClick($event)"
  [isLoading]="isLoadingElements"
>
</app-table-element>

<div
  *ngIf="!(isSelectIds$ | async)"
>
  Please select
</div>
