.filters {
  display: flex;
  align-items: flex-start;

  nz-select, nz-range-picker {
    min-width: 300px;
  }

  margin-bottom: 1rem;

  .search {
    width: 300px;
    margin-left: auto;
  }

  nz-tree-select {
    width: 300px;
  }

}

.ant-select {
  max-height: 80vh !important;
}
