<button style="float: right;" nz-button (click)="handleClickAdd()">{{'ADD' | translate}}</button>

<h2>{{'HOSE.HOSE_LIST' | translate}}</h2>


<app-table-hoses
  *ngIf="idMachinery$ | async"
  [isEditable]="true"
  [idMachinery$]="idMachinery$"
  (handleClickEdit)="handleClickEdit($event)"
  (handleClick)="handleRowClick($event)"
>

</app-table-hoses>
