<nz-spin *ngIf="isLoading"></nz-spin>

<form class="form-edit" *ngIf="!isLoading">
  <div class="form-edit-content">
    <label *ngFor="let column of columns">
      <div> {{column.key | translate}} </div>
      <span [ngSwitch]="column.format">
        <input
          *ngSwitchCase="'number'"
          nz-input
          class="field"
          type="number"
          [(ngModel)]="item[column.key]"
          [name]="column.key"
          [disabled]="!column.isEditable"
        />

        <nz-date-picker
          *ngSwitchCase="'date'"
          class="field"
          [(ngModel)]="item[column.key]"
          nzFormat="dd.MM.yyyy"
          [name]="column.key"
          [disabled]="!column.isEditable"
        ></nz-date-picker>

        <nz-select
          *ngSwitchCase="'select'"
          class="field"
          [(ngModel)]="item[column.key]"
          [name]="column.key"
          [disabled]="!column.isEditable"
        >
          <nz-option *ngFor="let o of selectsByKey[column.key]" [nzValue]="o.value" [nzLabel]="o.label"></nz-option>
        </nz-select>
        <input
          *ngSwitchDefault
          nz-input
          class="field"
          type="text"
          [(ngModel)]="item[column.key]"
          [name]="column.key"
          [disabled]="!column.isEditable"
        />
      </span>

    </label>

  </div>
  <div class="btns">
    <button *ngIf="item?.id" type="submit" nz-button nzType="dashed" (click)="handleRemove()" name="remove">{{'DELETE' | translate}}
    </button>
    <button *ngIf="item?.id" type="submit" nz-button nzType="primary" (click)="handleSave()">{{'SAVE' | translate}}</button>
    <button *ngIf="!item?.id" type="submit" nz-button nzType="primary" (click)="handleCreate()"
            [ngClass]="'btn-create'">
      {{'CREATE' | translate}}
    </button>
  </div>

</form>
