<div class="error">{{error}}</div>

<div class="logo-default-wrap">
  <img src="./assets/logo-default.jpg" alt="">
</div>

<form class="form-edit">
  <div class="form-edit-content">
    <label>
      <div> Email </div>
      <input
        nz-input
        class="field"
        type="text"
        [(ngModel)]="email"
        name="email"
      />
    </label>
    <label>
      <div> Password </div>
      <input
        nz-input
        class="field"
        type="text"
        [(ngModel)]="password"
        name="password"
      />
    </label>

  </div>
  <div class="btns">
    <button type="submit" nz-button nzType="primary" (click)="handleLogin()">Login</button>
  </div>

</form>
