@import "src/app/form-edit";

.error {
  padding: 10px;
  color: red;
}

.form-edit-content, .btns {
  max-width: 500px;
  margin: auto;
}

.btns button {
  margin-left: auto;
}

.logo-default-wrap {
  width: 100%;
  margin-bottom: 50px;

  img {
    margin: auto;
    width: 500px;
    display: block;
  }
}
