<div *ngIf="!isLoading">

  <a [routerLink]="backEditLink" style="float: right;" nz-button>{{'EDIT' | translate}}</a>
  <a [routerLink]="backLink">{{'BACK' | translate}}</a>
  <h2>{{'HOSE.TITLE' | translate}} {{hose.id}}</h2>

  <ul>
    <li>{{'HOSE.ARTICLE' | translate}}: {{hose.Article}}</li>
    <li>{{'HOSE.MACHINERY' | translate}}: {{hose.Machinery.Title}}</li>
    <li>{{'HOSE.MACHINERYGROUP' | translate}}: {{hose.Machinerygroup?.Title}}</li>
    <li>{{'HOSE.STATUS' | translate}}: {{hose.Status}}</li>
    <li>{{'HOSE.NOTICE' | translate}}: {{hose.Notice}}</li>
    <li>{{'HOSE.DATEMANUFACTURING' | translate}}: {{hose.DateManufacturing | dateFormatView}}</li>
    <li>{{'HOSE.DATETEST' | translate}}: {{hose.DateTest | dateFormatView}}</li>
    <li>{{'HOSE.DATENEXTTEST' | translate}}: {{hose.DateNextTest | dateFormatView}}</li>
    <li>{{'HOSE.DATEREPLACEMENT' | translate}}: {{hose.DateReplacement | dateFormatView}}</li>
    <li>{{'HOSE.Length' | translate}}: {{hose.Length }} </li>
    <li>{{'HOSE.IntervalView' | translate}}: {{hose.IntervalView }} </li>
    <li>{{'HOSE.IntervalReplace' | translate}}: {{hose.IntervalReplace }} </li>
    <li>{{'HOSE.Position' | translate}}: {{hose.Position }} </li>
    <li>{{'HOSE.Pressure' | translate}}: {{hose.Pressure }} </li>
    <li>{{'HOSE.IdNumber' | translate}}: {{hose.IdNumber}} </li>
    <li>{{'HOSE.IdPress' | translate}}: {{hose.IdPress}} </li>
    <li>{{'HOSE.InstrNo' | translate}}: {{hose.InstrNo}} </li>
    <li>{{'HOSE.InstallationLocation' | translate}}: {{hose.InstallationLocation }} </li>
  </ul>

  <app-table-messages *ngIf="messages.length" [items]="messages" [isEditable]="false"></app-table-messages>
  <div *ngIf="!messages.length">{{'HOSE.NODATATEST' | translate}}</div>

  <a nz-button style="float: right" [routerLink]="[addTestLink]" [queryParams]="addTestLinkParams" >{{'HOSE.ADDNEWTEST' | translate}}</a>
</div>

<nz-spin *ngIf="isLoading"></nz-spin>
