<button style="float: right;" nz-button (click)="handleClickAdd()">{{'ADD' | translate}}</button>
<h2>Table: {{table}}</h2>

<app-table-data-hoses
  *ngIf="table"
  [table]="table"
  [isEditable]="true"
  (handleClickEdit)="handleClickEdit($event)"
  [isLoading]="isLoading"
  [rows]="rows"
  [listOfData]="listOfData"
>

</app-table-data-hoses>
